@import url('https://fonts.googleapis.com/css?family=Lato|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
/* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --loader-color: #d3a358;
  --white: white;
  --black: black;
  --smoke: whitesmoke;
  --second-page: rgb(253, 253, 253);
}

body {
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6,.fond,.fond2,.titre {
  font-family: 'EB Garamond', serif;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: var(--smoke);
}

#loading h1 {
  color: var(--loader-color);
}

.contenu-loading {
  text-align: center;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  font-size: 40px;
  font-family: 'EB Garamond', serif;
  color: var(--loader-color);
}

.loading-bar-back {
  position: absolute;
  height: 30px;
  background-color: lightgray;
  width: 100%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.loading-bar-front {
  position: absolute;
  height: 30px;
  background-image: linear-gradient(
    -90deg,
    #d3a358 25%,
    transparent 25%,
    #d3a358 50%,
    rgba(255, 255, 255, 0.2) 50%,
    #d3a358 75%,
    transparent 75%,
    #d3a358
  );
  width: 0%;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: none;
  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#good {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  color: var(--loader-color);
  font-size: 1.8rem;
}

main {
  text-align: center;
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid;
  place-items: center; */
}

.img-first {
  background: url("./images/profil1-stage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;
  width: 100%;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: -1;
  filter: brightness(30%);
}

.interieur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.interieur p {
  font-size: 1.4rem;
  font-family: 'EB Garamond', serif;
  letter-spacing: 2px;
}

aside {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.btns {
  background-color: var(--white);
  padding: 10px 20px;
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
  border: none;
  transition: all 1s;
}

.btns span {
  position: relative;
  z-index: 1;
}

.btns::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 1.5s, height 1.5s;
  opacity: 0;
  border: 10px solid rgb(233 146 115);
}

.btns:hover::before {
  width: 250px;
  height: 250px;
  opacity: 1;
}

.btns:hover {
  background-color: rgb(203 146 115);
}

h1 {
  color: var(--white);
  letter-spacing: 0.25em;
  font-weight: 300;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

#remonter {
  height: 30px;
  width: 30px;
  background: rgb(0, 0, 0, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  border: none;
  z-index: 4;
  transition: all 0.5s;
  animation: glowing 2000ms infinite;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px var(--loader-color); }
  40% { box-shadow: 0 0 20px var(--loader-color); }
  60% { box-shadow: 0 0 20px var(--loader-color); }
  100% { box-shadow: 0 0 -10px var(--loader-color); }
}

.button-glow {
  animation: glowing 2000ms infinite;
}

@media (max-width:499px) {
  .contenu-loading {
    width: 90%;
  }
}

/* Header */

header {
  padding: 0px;
  background-color: var(--white);
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
}

header h2 {
  margin-bottom: 0;
  font-weight: 500;
}

.main-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header ul {
  display: flex;
  list-style: none;
}

.menu {
  margin-bottom: 0;
}

nav li {
  border: none;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li a {
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
  padding: 12px 15px;
  font-size: 15px;
  transition: all 0.5s;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

nav li a:hover {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.8);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width: 100%;
  padding-top: 50px;
}

.activerr {
  background-color: var(--black);
}
.activerr a {
  color: var(--white);
}

.toggle-menu {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
  top: 23px;
  right: 0;
  display: none;
}

.toggle-menu::before{
  position: absolute;
  content: "";
  height: 5px;
  width: 25px;
  background-color: var(--black);
  border-radius: 6px;
  box-shadow: 0px 10px 0px var(--black);
  transform: translateY(-10px);
  transition: 0.5s;
}

.toggle-menu.activer::before{
  transform: translateY(0) rotate(-45deg);
  box-shadow: 0 0px 0 var(--black);
}

.toggle-menu::after{
  position: absolute;
  content: "";
  height: 5px;
  width: 25px;
  background-color: var(--black);
  border-radius: 6px;
  transform: translateY(10px);
  transition: 0.5s;
}

.toggle-menu.activer::after{
  transform: translateY(0) rotate(45deg);
  
}

/* Header responsive */

@media (max-width:991px) {
  .toggle-menu {
    display: block;
  }
  .main-head {
    display: block;
    padding: 10px 0px;
  }
  header h2 {
    margin-left: 20px;
    font-size: 25px;
  }
  header ul {
    display: block;
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding: 0;
    top: -2000px;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    background-color: var(--white);
  }
  nav ul {
    width: 100%;
  }
  nav li {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  nav li a {
    width: 100%;
  }
  header .menu.responsive {
    top: 50px;
    opacity: 1;
  }
}


/* Présentation */

#presentation {
  position: relative;
  background-color: var(--smoke);
  padding: 100px 50px 100px 50px;
  display: flex;
  flex-direction: column;
}

.presentation-image {
  background-image: url("./images/profilR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 5px var(--black);
}

.initial {
  font-weight: 500;
  font-size: 2.5rem;
}

.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  width: 100%;
}

.fond {
  position: absolute;
  font-size: 5rem;
  opacity: 0.1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fond2 {
  position: absolute;
  font-size: 4rem;
  opacity: 0.1;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titre::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50px;
  background-color: var(--black);
  bottom: -30px;
}

.moi {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
}


@media screen and (max-width:991px) {
  .fond {
    font-size: 3.7rem;
  }
  .fond2 {
    font-size: 3rem;
  }
}

@media screen and (max-width:768px) {
  .fond2 {
    font-size: 2.5rem;
  }
  #presentation {
    padding: 70px 30px;
  }
}

@media screen and (max-width:450px) {
  .fond {
    font-size: 2.3rem;
  }
  .fond2 {
    font-size: 2rem;
  }
  .moi {
    line-height: 1.5;
  }
  .presentation-image {
    width: 200px;
    height: 200px;
  }
}


/* Réalisation */

#realisation {
  position: relative;
  background-color: var(--second-page);
  padding: 100px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

.width-max {
  max-width: 1400px;
}

.moi-real {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
}

.image {
  position: relative;
  width: 400px;
  margin: 0px 20px;
}

.image-jointe {
  width: 100%;
  height: 300px;
  box-shadow: 1px 1px 5px var(--black);
}

.real-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.real-overlay a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 20px;
  transition: all 0.2s;
}

.real-overlay a:hover {
  background-color: rgb(203 146 115);
}

.real-overlay > * {
  transform: translateY(100px);
  transition: transform 0.25s;
}

.real-overlay:hover {
  opacity: 1;
}

.real-overlay:hover > * {
  transform: translateY(0);
}

.real-titre {
  font-size: 2rem;
  font-weight: bold;
}

.real-description {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

.travaux i {
  font-size: 1.1rem;
}

@media (max-width:991px) {
  .real-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }
  .real-overlay > * {
    transform: translateY(0px);
  }
}

@media (max-width:768px) {
  #realisation {
    padding: 70px 30px;
  }
}

@media (max-width:499px) {
  .image {
    width: 100%;
    margin: 0px;
  }
  .real-titre {
    font-size: 1.3rem;
  }
  .image-jointe {
    height: 250px;
  }
}

@media (max-width:359px) {
  .image-jointe {
    height: 150px;
  }
}


/* Stage */

#stage {
  position: relative;
  background-color: var(--second-page);
  padding: 100px 50px 100px 50px;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
}

@media (max-width:768px) {
  #stage {
    padding: 70px 30px;
  }
}

/* Qualité */

#qualite {
  position: relative;
  background-color: var(--smoke);
  padding: 150px 50px 150px 50px;
  display: flex;
  flex-direction: column;
}

.pour-moi {
  max-width: 1400px;
}

.pour-vous {
  width: 400px;
  height: 200px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.200);
  transition: all 0.2s ease-in-out;
  margin: 20px 20px;
}

.pour-vous i {
  font-size: 2.5rem;
}

.pour-vous p {
  text-align: center;
  color: var(--white);
}

.pour-vous:hover {
  background-color: black;
  color: var(--white);
}

@media (max-width:768px) {
  #qualite {
    padding: 100px 50px;
  }
}

@media (max-width:499px) {
  .pour-vous {
    width: 100%;
  }
  #qualite {
    padding: 70px 30px;
  }
}


/* Compétences */

#competences {
  position: relative;
  background-color: var(--second-page);
  padding: 0px;
  display: flex;
}

.cent {
  width: 100%;
  max-height: 1200px;
}

.photo2 {
  min-height: 200px;
  background: url('./images/competence2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.padding {
  padding: 100px 50px 150px 50px;
}

.progress1, .progress2, .progress3, .progress4, .progress5 {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: 30px;
  background: #f5f5f5;
  overflow: hidden;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.progress__fill {
  width: 0%;
  height: 100%;
  transition: ease-in-out 2s;
}

.progress1 .progress__fill {
  background-color: #d9534f;
}

.progress2 .progress__fill {
  background-color: #0f3658;
}

.progress3 .progress__fill {
  background-color: #d3a358;
}

.progress4 .progress__fill {
  background-color: #5399c8;
}

.progress5 .progress__fill {
  background-color: #5ed3f3;
}

.progress__text {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-weight: bold;
  color: var(--black);
}

.aligner-centrer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width:768px) {
  .progress1, .progress2, .progress3, .progress4, .progress5 {
    width: 80%;
  }
}

@media (max-width:576px) {
  .progress1, .progress2, .progress3, .progress4, .progress5 {
    width: 100%;
  }
  .progress__text {
    right: 0;
    left: 0;
  }
}

/* Footer */

#contacts {
  background-color: var(--smoke);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}

#telecharger {
  color: black;
  padding: 10px;
  background-color: rgb(209, 205, 205);
  border-radius: 5px;
  transition: all 0.3s ease;
}

#telecharger:hover {
  text-decoration: none;
  color: rgb(119, 117, 117);
  transition: all 0.3s ease;
  cursor: pointer;
}

.fa-download {
  color: rgb(209, 159, 66);
  font-size: 1.2rem;
}

.fa-github, .fa-linkedin {
  font-size: 3rem;
  color: var(--black);
}
.fa-github:hover, .fa-linkedin:hover {
  color: rgb(61, 60, 60);
}

.copyright {
  background-color: #44484b;
  min-height: 8vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centrer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.centrer i {
  font-size: 5rem;
}

.connaissance {
  display: flex;
  justify-content: center;
}

#contacts .fa-html5 {
  color: #d9534f;
}
#contacts .fa-css3-alt {
  color: #0f3658;
}
#contacts .fa-js {
  color: #d3a358;
}
#contacts .fa-wordpress {
  color: #5399c8;
}
#contacts .fa-react {
  color: #5ed3f3;
}

@media (max-width:768px) {
  .padding {
    padding: 100px 50px;
  }
}

@media (max-width:499px) {
  .padding {
    padding: 70px 30px;
  }
}